@model LabProject.Models.Utilizador

<link rel="stylesheet" href="~/css/login_style.css">

<div>
    <hr />
    <div class="row">

        <div class="col-md-4">
            <p class="login-titulo" style="">Tem a certeza que pertende desbloquear este utilizador?</p>
            <form asp-action="Desbloquear" class="login-form">
                <div class="form-group">
                    <img src="~/Images/Utilizadores/@Html.DisplayFor(model => model.Imagem)" width="250" height="250"/>
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Username):
                    @Html.DisplayFor(model => model.Username)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Email):
                    @Html.DisplayFor(model => model.Email)
                </div>
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Motivo):
                    @Html.DisplayFor(model => model.Motivo)
                </div>
                @*<div class="form-group">
            <textarea class="form-control" asp-for="Motivo" cols="40" rows="5"></textarea>
        </div>*@
                <div class="form-group">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" value="Confirmar" class="button" style="color:white; background-color: green;">Confirmar</button>
                    <a asp-action="VerUtilizadores" class="button">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

