@model LabProject.Models.RestaurantePratosPertence

<link rel="stylesheet" href="~/css/Grid_style.css">




<link rel="stylesheet" href="~/css/Grid_style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">


<script>

    $(document).ready(function () {
        $("#datepicker").datepicker({
            dateFormat: 'mm-dd-yy',
            changeMonth: true,
            numberOfMonths: 1,
            buttonImage: 'contact/calendar/calendar.gif',
            buttonImageOnly: true,
            onSelect: function (selectedDate) {
                $("#SubmitFilter").click();
            }
        });


        $("#datepicker").datepicker("setDate", '@ViewData["SearchData"]');



});

</script>


<div class="VerGridRectangle">
    <div class="VerRestauranteBanner" style='background-image:url("../../Images/Utilizadores/@Html.DisplayFor(model => model.Restaurante.Utilizador.Imagem)")'></div>
    <div class="VerRestauranteNome">@Html.DisplayFor(model => model.Restaurante.Utilizador.Name)</div>

</div>

<div class="VerInformacoes" style="margin-bottom:0px;">
    <div class="VerInformacoesDescricao">
        <p>
            <span class="VerSpan"><i class="fas fa-phone-alt"></i></span>
            @Html.DisplayFor(model => model.Restaurante.Telefone)
        </p>
        <p>
            <span class="VerSpan"><i class="far fa-envelope"></i></span>
            @Html.DisplayFor(model => model.Restaurante.Utilizador.Email)
        </p>
        <span class="VerSpan" style=" float: left; margin-top: 5px; margin-left: 20px; margin-right: 10px;"><i class="far fa-clock"></i></span>
        <p>
            Exceto @Html.DisplayFor(model => model.Restaurante.DiaDescanso)
        </p>
        <p style=" margin-top: -20px; margin-left: 50px;">
            @Html.DisplayFor(model => model.Restaurante.HoraAbertura)h - @Html.DisplayFor(model => model.Restaurante.HoraFecho)h
        </p>
        <p>
            <span class="VerSpan"><i class="fas fa-map-marker-alt"></i></span>
            @Html.DisplayFor(model => model.Restaurante.Morada)
        </p>

    </div>
    <div class="VerInformacoesMapa" style="background-color:lightgreen"></div>

</div>

<div class="SearchContainer">
    <form class="SearchBar" asp-action="VerRestaurante" method="get">
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Procurar...">
        <input class="SearchBarDate" type="text" id="datepicker" name="SearchData" value="@ViewData["SearchData"]">
        <button id="SubmitFilter" type="submit"><i class="fa fa-search"></i></button>
    </form>

</div>



<div class="verGridContainer">
    @foreach (var item in Model.Pratos)
    {
        <div class="VerGridSquare">
            <div class="VerGridSquareNome">@((item.Nome.Length <= 13) ? item.Nome : item.Nome.Substring(0, 13) + "...")</div>
            <div class="VerGridSquareCentral">
                <div class="VerGridSquareCentralTexto">
                    <p style="margin-top: 15px; margin-left:30px;">Tipo: @(item.TipoPrato.Nome)</p>
                    <p style="margin-left:30px;">Preço: @((item.Preco).ToString("#.00") + " €")</p>
                </div>
                <div class="VerGridSquareCentralFoto" style=' margin-right: 10px; background-image: url(../../Images/Pratos/@(item.Foto) )'></div>
            </div>
            <p class="VerGridSquareDesc">Descrição: @(item.Descricao)</p>
            @*<div class="VerGridSquareImagem" style='background-image:url(@Html.DisplayFor(modelItem => item.Foto))'></div>*@
            @*<a asp-action="Details" asp-route-id="@item.Id">Details</a>*@


        </div>

    }
</div>


<script>

    $(".flex-child.Container").height($(document).height());



</script>

