@model IEnumerable<LabProject.Models.RestaurantePratosPertence>


<link rel="stylesheet" href="~/css/Grid_style.css">



<div class="SearchContainer">
    <form class="SearchBar" asp-action="Pratos" method="get">
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="@Html.DisplayFor(model => model.First().Pratos.First().Nome)" />
        @{ if (Context.Session.GetString("Utilizador") != null)
                if (ViewData["isFirstPratoFavorito"] == "1")
                {
                    <button type="submit" value="Tirar Favorito" />
                }
                else
                {
                    <button type="submit" value="Adicionar Favorito" />

                }
        }
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>


<div class="GridContainer">



    @foreach (var item in Model)
    {

        <div class="GridRectangle" >
            <div class="RestauranteBanner" style='background-image:url(@("/../../Images/Utilizadores/" + item.Restaurante.Utilizador.Imagem))'></div>
            <div class="RestauranteNome">@Html.DisplayFor(modelItem => item.Restaurante.Utilizador.Name)</div>
            <div class="RestaurantePratosContainer">
                <div id="PratoEscolhido" class="RestaurantePrato" onClick="reply_click(@item.Restaurante.Id)">
                    <div class="PratoEscolhidoDescricao">
                        <div>@((item.Pratos.First().Nome.Length <= 13) ? item.Pratos.First().Nome : item.Pratos.First().Nome.Substring(0, 13) + "...")</div>
                        <div class="PratoEscolhidoDescricaoPreco">
                            @try
                            {
                                @((item.Pratos.First().Preco).ToString("#.00") + " €");
                            }
                            catch (Exception)
                            {

                            }
                        </div>
                    </div>
                    <div class="GridRectangleImagem" style='background-image:url(@("/../../Images/Pratos/" + item.Pratos.First().Foto))'></div>
                </div>
                

            </div>
        </div>

    }

</div>


<script type="text/javascript">
    function reply_click(Id) {
        //alert(id);
        //console.log(Id);

        var targetUrl = '/Restaurantes/VerRestaurante/' + Id.toString();
        location.href = targetUrl;

    };
</script>




